h3 {
    font-size: 36px;
    font-weight: 700;
    color: #23b123;
    text-align: center;
}

section {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    width: 500px;
    border: 1px solid #000000;
}

div {
    /*width: 30%;*/
    margin: 10px 0;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}

span {
    color: #0000ff;
}

table {
    border: 1px solid #000000;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

th {
    border: 1px solid #000000;
    font-size: 26px;
    color: #0000ff;
}

td {
    border: 1px solid #000000;
    font-size: 22px;
}